.heading
{
    width: 100%;
    text-align: center;
}
.heading h3{
    display: inline;

}
.heading button{
    float: right;
border: 2px solid cyan;
}

#start, #restart, #status{
    font-size: 25px;
}
.modal-dialog{
width: 70%;
}

.modal-body{
    text-align: left;
font-size: 20px;
}

h4{
    background-color: lime;
    bottom: 0;
    position: fixed;
}

canvas{
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}